@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
:root {
        --yellow: #f9ca24;
}

* {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        border: none;
        text-transform: capitalize;
        transition: all .2s linear;
}

*::selection {
        background: var(--yellow);
        color: #333;
}

html {
        font-size: 62.5%;
        overflow-x: hidden;
}

html::-webkit-scrollbar {
        width: 1.4rem;
}

html::-webkit-scrollbar-track {
        background: #222;
}

html::-webkit-scrollbar-thumb {
        background: var(--yellow);
}

body {
        background: #111 !important;
        overflow-x: hidden;
        padding-left: 35rem;
}

section {
        margin-left: 3%!important;
        min-height: 100vh;
        padding: 1rem;
}

section h1 span {
        color: var(--yellow);
}

header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        width: 35rem;
        background: #1a1a1a;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-flow: column;
        text-align: center;
        /* overflow-y: auto; */
}

.btn {
        padding: 7rem 3rem;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 2rem;
        border-radius: 5rem;
}

.btn:hover {
        background: var(--yellow);
}

header .user img {
        height: 17rem;
        width: 17rem;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border: .7rem solid var(--yellow);
}

header .user .name {
        font-size: 3.5rem;
        color: #fff;
}

header .user .post {
        font-size: 2rem;
        color: #eee;
}

header .navbar {
        width: 100%;
}

header .navbar ul {
        list-style: none;
        padding: 1rem 3rem;
}

header .navbar ul li a {
        width: 28rem;
        display: block;
        padding: 1rem;
        margin: 1.5rem 0;
        background: #333;
        color: #fff;
        font-size: 2rem;
        border-radius: 5rem;
        text-decoration: none;
}

header .navbar ul li a:hover {
        background: var(--yellow);
}

.education .box-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0;
        padding-left: 3rem;
}

.education .box-container .box {
        width: 27rem;
        margin: 4rem 1rem;
        padding-left: 4rem;
        border-left: .2rem solid #fff;
        position: relative;
}

.education .box-container .box span {
        font-size: 1.3rem;
        background: #222;
        color: #fff;
        border-radius: 5rem;
        padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
        font-size: 2rem;
        color: #fff;
        padding-top: 1.5rem;
}

.education .box-container .box p {
        font-size: 1.5rem;
        color: #fff;
        padding-top: 1rem 0;
}

.education .box-container .box i {
        position: absolute;
        top: -1.5rem;
        left: -2.5rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        line-height: 5rem;
        font-size: 2rem;
        color: #fff;
        background: var(--yellow);
}

.home {
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 0 15rem;
}

.home h3 {
        font-size: 2.5rem;
        color: #fff;
}

.home h1 {
        font-size: 5rem;
        color: #fff;
}

.home p {
        font-size: 2rem;
        color: #fff;
        padding: 1rem 0;
}

.custom-list {
        font-size: 2.5rem;
        color: #fff;
        padding-left: 5rem;
        padding-top: 3rem;
}

.custom-list li:hover {
        font-size: 3.5rem;
        color: var(--yellow);
        text-shadow: var(--yellow);
}

.custom-contact {
        size: 5rem;
}

#menu {
        position: fixed;
        top: 2rem;
        right: 2rem;
        background: #333;
        color: #fff;
        cursor: pointer;
        font-size: 2.5rem;
        padding: 1rem 1.5 rem;
        z-index: 1000;
        display: none;
}

@media(max-width:1200px) {
        html {
                font-size: 55%;
        }
}

@media(max-width:991px) {
        header {
                left: -120%;
        }
        #menu {
                display: block;
        }
        header.toggle {
                left: 0%;
        }
        body {
                padding: 0;
        }
}

@media(max-width:768px) {
        html {
                font-size: 50%;
        }
}

@media(max-width:400px) {
        header {
                width: 100vw;
        }
}